
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-controller="Home" asp-action="Login" method="post">
    <div class="form-group row">
        <label for="username">Имя пользователя</label>
        <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="form-group row">
        <label for="password">Пароль</label>
        <div class="col-3">
            <span>Пароль от 8 символов, обязательно использование цифр, прописных и строчных букв, а также спец.символов</span>
        </div>
        <input type="password" class="form-control" id="password" name="password" />
    </div>

    <button type="submit" class="btn btn-primary">Вход</button>
</form>

<div class="row m-3">
    @if (@TempData["ErrorMessage"] != null)
    {
        <p>@TempData["ErrorMessage"]</p>
    }
</div>


